* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}

html,
body,
.wrapper {
  height: 100%;
  width: 100%;
}

body {
  background: #121212;
}

body::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url("img/vanguard-bg.jpg") url("img/coldwar-bg.jpg");
}

img {
  width: 100%;
  margin-bottom: 30px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #121212;
  background-repeat: no-repeat;
  background-size: cover;
}

.filler {
  height: 100%;
  flex-grow: 1;
  background: black;
  opacity: 0.7;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 400px;
  background: black;
  opacity: 0.7;
  border: 2px solid transparent;
  border-width: 0 2px 0 2px;
  box-sizing: content-box;
  border-image: transparent;
}

.item:hover,
.item.active {
  width: 500px;
  background: transparent;
  opacity: 1;
  border-image: linear-gradient(
      rgba(0, 0, 0, 0) 20%,
      rgba(255, 255, 255, 0.5) 40%,
      rgba(255, 255, 255, 0.5) 60%,
      rgba(0, 0, 0, 0) 80%
    )
    1;
}

.item-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.link {
  text-decoration: none;
  text-align: center;
  background: transparent;
  width: 150px;
  padding: 5px;
  color: #ffffff;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

.link:not(:last-child) {
  margin-bottom: 5px;
}

.link:hover {
  color: #c8001a;
  background: #afaca7;
}

@media (min-width: 1921px) {
}

@media (max-width: 1600px) {
}

@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }
}

@media (max-width: 576px) {
}
