@import "variables";
@import "colors";

.tracker {
	&_arrow {
		fill: $color-text;
		height: 1.2vh;
		width: 1.2vh;
		margin-right: 5px;
		-webkit-transition: all 0.1s ease-out;
		-moz-transition: all 0.1s ease-out;
		-o-transition: all 0.1s ease-out;
		transition: all 0.1s ease-out;
	}
	&_sidebar {
		z-index: 99;
		position: fixed;
		left: 0px;
		display: inline;
		height: 100%;
		width: 300px;
		background: $color-el;
		-webkit-transition: all 0.3s ease-out;
		-moz-transition: all 0.3s ease-out;
		-o-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
		&_tabview {
			height: 50px;
			display: flex;
			flex-direction: row;
			&_tab {
				position: relative;
				cursor: pointer;
				width: 50%;
				&_line {
					position: absolute;
					height: 5px;
					width: 100%;
					background: $color-noncompleted;
					bottom: 0;
					opacity: 0;
				}
				&_title {
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					font-size: 2vh;
					a {
						height: auto;
						width: auto;
						display: flex;
						justify-content: center;
						align-items: center;
					}
				}
			}
			&_tab:hover {
				background: $color-border;
				-webkit-transition: all 0.3s ease-out;
				-moz-transition: all 0.3s ease-out;
				-o-transition: all 0.3s ease-out;
				transition: all 0.3s ease-out;
			}
		}
		&_container {
			&_collapse {
				&_listitem {
					height: auto;
				}
				&_dlc {
					line-height: 0;
					font-size: 1vh;
					text-decoration: none;
				}
			}
		}
		&_header {
			background: $color-header;
			height: 50px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-weight: bold;
			&_menu {
				position: absolute;
				left: 0;
				height: 50px;
				width: 50px;
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				svg {
					height: 40%;
					width: 40%;
					fill: $color-text;
				}
			}
			&_link {
				display: flex;
				align-items: center;
				justify-content: center;
				a {
					height: auto;
					width: auto;
				}
			}
		}
		&_container {
			box-sizing: border-box;
			padding: 1.2vh;
			height: calc(100% - 100px);
			overflow: auto;
			&_collapse {
				padding: 0;
				height: auto;
			}
		}
	}
}

.Collapsible__trigger {
	cursor: pointer;
}

// MOBILE
@media (min-width: 300px) and (max-width: 767.99px) {
	.tracker {
		&_sidebar {
			&_tabview {
				&_tab {
					&_title {
						font-size: 2.5vh;
					}
				}
			}
		}
	}
}

// TABLET PORTRAIT
@media (min-width: 768px) and (max-width: 991.99px) {
	.tracker {
		&_sidebar {
			&_tabview {
				&_tab {
					&_title {
						font-size: 2vh;
					}
				}
			}
		}
	}
}

// TABLET LANDSCAPE
@media (min-width: 992px) and (max-width: 1199.99px) {
	.tracker {
		&_sidebar {
			&_tabview {
				&_tab {
					&_title {
						font-size: 2.5vh;
					}
				}
			}
		}
	}
}

// NOTEBOOK
@media (min-width: 1200px) and (max-width: 1399.99px) {
	.tracker {
		&_sidebar {
			&_tabview {
				&_tab {
					&_title {
						font-size: 2.5vh;
					}
				}
			}
		}
	}
}

// 4K
@media (min-width: 1921px) {
}
